@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 1.5em;

}

p {
    margin-bottom: 10px;
    text-align: justify;
}
h1, h2 {
    margin-bottom: 20px;
    line-height: 1.2em;
    text-align: left;
}

header, section.normal {
    padding: 20px;
}

section.flex-content {
    padding: 20px;
    background-color: lightgray;

    display: flex;
    flex-flow: column nowrap;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; /* só para colarem em ambas laterais */
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse; /* pra quebrar pra cima */
    justify-content: space-between;
}

article > div.text {
    flex: 1 1 500px; /* flex-grow: 1; flex-shrink: 1; flex-basis: 500px; */

    border: 1px dashed blue; /*para deixar mais visivel e didático o flex em ação*/
}
article > div.media {
    flex: 1 0 400px;

    border: 1px dashed red; /*para deixar mais visivel e didático o flex em ação*/
}

div.media > img {
    display: block;
    margin: auto;
}

div.media > iframe {
    display: block;
    margin: auto;
    width: 90%;
}