@charset "UTF-8";

* { /* configuração de reset */
  box-sizing: border-box; /*para a borda fazer parte do calculo do tamanho da caixa*/
  margin: 0;
  padding: 0;
}
:root { /* variáveis para cores */
  --fundo-principal: #f5f5f5;
  --texto: #222222;
  --texto-inverso: white;
  --destaque: #0077ff;
  --destaque-inverso: #66bbff;
  --fundo-card: white;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundo-principal);
  color: var(--texto);
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
nav#menu a {
  text-decoration: none;
  color: var(--texto-inverso);
  font-weight: 600;
  padding: 12px 15px;
  border-radius: 5px;
  transition: background-color 0.5s, color 0.1s;
}
nav#menu a:hover {
  background-color: var(--destaque-inverso);
  color: var(--destaque);
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden; /*se sobrar algo pra fora, ele fica escondido - pra navegadores*/
  border-radius: 50%;
  border: 5px solid var(--fundo-card); /* que é branco */
  outline: 5px solid var(--destaque);

  display: block;
  margin: auto;
  margin-bottom: 15px;
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto; /* três colunas para a versão de celular: um lado (a sobra - automatico), o final (a sobra - automatico) e 90% - no meio. Detalhe: o auto pode ser substituido por 1fr (fração) */

  gap: 20px; /* vai fazer sentido quando estiver com duas colunas */
  margin-top: 20px;
}

section#ficha {
  background-color: var(--fundo-card);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2; /* para ficar na segunda coluna - o meio (90%) */
}
section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0;
  text-align: left;
}

div#social {
  display: flex;
  justify-content: center;
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;
}
div#social a {
  color: var(--destaque);
  transition: color 0.5s;
}
div#social a:hover {
  color: var(--destaque-inverso);
}

section#detalhes {
  grid-column: 2;
}
article {
  background-color: var(--fundo-card);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}
article h2 {
  color: var(--destaque);
  margin-bottom: 10px;
}
.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9; /* video deitado */
  /* border: 5px solid red; */
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}